*{margin: 0;font-size: 62.5%;color: white;background:#68cdd5;}
.content{display: flex;
    flex-direction: column;
    align-items: center;}
.arrow{margin:1rem 0 8rem 1.5rem;}
.introduction{width:  80%;
    font-size: 1.5rem;
    text-align: left;
    margin: 8rem 0 11rem 0;
line-height: 3rem;}
.round{display:flex;flex-direction:row;justify-content:space-around;}
.round2{font-size: 1.3rem;}
