@import "base.scss";

$padding:12px 14px;
header{
  @include flex;
  justify-content: space-between;
  background: $c1;
  font-size: $f-s;
  padding: $padding;
  color: $c2;
  a{
    @include icon;
    width:11px;
    height:18px;
    background-position:-453px 0px;
  }
}
main{
  padding-bottom: 8rem;
  .main-1{
    color: $c2;
    @include flex;
    @include icon;
    background: url("img/2.png");
    background-size: 100% 100%;
    height: 13rem;
    padding: $padding;
  }
  .main-1-avatar{
    @include icon;
    width:85px;
    height:85px;
    background-position:-348px 0px;
  }
  .main-1-font{
    margin-left: 1rem;
    font-size: $f-s;
    p{
      line-height: 2.3rem;
      .main-1-font1{
        font-size: 1.2rem;
        padding-left: 8px;
      }
      .main-1-font2{
        @include icon;
        width:10px;
        height:12px;
        background-position:-33px 0px;
        display: inline-block;
      }
    }
  }
  .main-2{
    margin: $padding;
    padding-left: 10px;
    border-left: 1.1px solid $c1;
    font-size: $f-s;
  }
  .main-3{
    border-top: $border;
    border-bottom: $border;
      padding-left: 20px;
    font-size: $f-s;
    .main-4{
      @include flex;
      padding: 8px 0 8px 15px;
      border-bottom: $border;
      .main-4img{
        @include icon;
        width:13px;
        height:12px;
        background-position:0px 0px;
      }
      .main-4font{
        padding: 0 8px;
        border-right: $border;
        margin-right: 8px;
      }
      .main-4font1{
        border-right: none;
      }
    }
    .main-5{
      padding: 8px 0 8px 15px;
      border-bottom: $border;
      div{
        display: inline-block;
        color: $c3;
        border-right: $border;
        padding-right: 8px;
        margin-right: 8px;
      }
    }
    .main-6{
      display: flex;
      border: none;
      div{
        white-space: nowrap;
        @include flex;
      }
      span{
        display: inline-block;
        padding-right: 20px;
        padding-left: 5px;
      }
    }
  }
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $c2;
  @include flex;
  text-align: center;
  font-size: $f-s;
  .footer-1,.footer-2{
    width: 50%;
    padding: 1.5rem 0;
    border: 2px solid $c1;
    border-radius: 2rem;
    white-space: nowrap;
  }
  .footer-1{
    color: $c1;
    margin: 10px 5px 10px 10px;
  }
  .footer-2{
    background: $c1;
    color: $c2;
    margin: 10px 10px 10px 5px;
  }
}